.tag {
  display: inline-block;
  flex-shrink: 0;
  padding: 2px 6px;
  background-color: #fff1f0;
  color: #ff4d4f;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 4px;
  white-space: nowrap;
  margin-right: 6px;
}

.tag:last-child {
  margin-right: 0;
}
